 a {
    color: #1e90ff;
  }
  body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #2f3880;
  background-color: #402e6b;
}

.list-group-item {
  background-color: #e4e4e4;
  color: #8a83af;
}

.list-group-item:hover {
  color: #7798cd;
}

h1 {
  text-align:center;
}
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.photo {
  border-radius: 45px;
  margin-right: 20px;
  margin-top: 20px;
  width: 80px;
  height:80px;
}
.form-control { 
  margin-top: 10px;
  margin-bottom: 20px;
}
.title {
  font-weight: 700;
}
.expertise-label {
  display:block;
  font-weight: 700;
  margin-top:10px;
}
.btn-more {
  margin-top:10px;
  width: 100%
}
.label {
  font-weight: normal;
}

#content-container {
  height: 100%;
}


.content-tree, .content-list {
  overflow-y: scroll;
    max-height: 95vh;
    padding: 0px;
    background-color: #c7c9d8;
}

.status-bar {
  min-height: 5vh;
  background-color: #2f3880;
  color: #f5fed8;
}

.status-bar-container {
  background-color: #464646;
}

.status-bar > div {
  min-height: 100%;
}

.normal-folder {
  color: #2f3880 !important;
}

.session-folder {
  color: #a581c8 !important;
}

.session-file {
  color: #bb60b3 !important;
}

.jstree-open .jstree-ocl {
  color: #272727;
}

.jstree-closed .jstree-ocl {
  color: #bbb;
}

.sidebar-links {
  background-color: #e4e4e4;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

.sidebar-link a {
  color: #2f3880;
  margin: 0 auto;
}

#sidebar {
  padding: 10px;
}
/* Shrinking the sidebar from 250px to 80px and center aligining its content*/
#sidebar.active {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
}

/* Toggling the sidebar header content, hide the big heading [h3] and showing the small heading [strong] and vice versa*/
#sidebar .sidebar-header strong {
    /*display: none;*/
}
#sidebar.active .sidebar-header h3 {
    display: none;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right:  0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

/* Same dropdown links padding*/
#sidebar.active ul ul a {
    padding: 10px !important;
}

/* Changing the arrow position to bottom center position, 
   translateX(50%) works with right: 50% 
   to accurately  center the arrow */
#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.tree-label {
  font-size: 14px;
  color: #676767;
}