<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Ardour 6 session handling</title>

  <meta name="description" content="I got tired, too many sessions.">
  <meta name="author" content="Dunnomix">

  <!-- Favicon -->
  <link rel="icon" href="">

  {% assets "css_all" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
  {% endassets %}

  <!-- jQuery -->
  {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}" ></script>
  {% endassets %}

  <!-- Optional IE8 Support -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  </head>
  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>