{% extends "base.html" %}
{% block content %}

<script>

   var HOME_DIR = "{{ ardour_files[0]["text"] }}";
  var data = {{ ardour_files|tojson|safe }}[0]["children"];

  // data.icon = "";

</script>
<div class="container-fluid">

    <div id="sessions">

        <div id="content-container">
        <div class="row">

            <div class="col-md-3 content-tree">
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h3>Ardour Lister</h3>
                        <h6>V 0.0.1</h6>
                    </div>

                    <ul class="list-unstyled components sidebar-links">
                        <li>
                            <input class="search form-control" placeholder="Search" />
                        </li>

                        <li class="sidebar-link">
                            <a href="/stats">
                                <i class="fas fa-chart-bar"></i>
                                Stats
                            </a>
                        </li>

                        <li class="sidebar-link">
                            <a href="/settings" class="" data-toggle="modal" data-target="#settingsModal">
                                <i class="fas fa-cog"></i>
                                Settings
                            </a>
                        </li>

                        <li class="sidebar-link active">
                            <a href="#"><i class="fas fa-briefcase"></i> Files</a>:
                            <span class="tree-label home-dir">HOME_DIR</span>
                        </li>

                        <li>
                          <div id="file-tree"></div>
                        </li>

                    </ul>
                </nav>
            </div>

            <div class="col-md-9 content-list">
                <!-- list start -->
                <div id="itemList" class="list-group list">
                </div>

            </div>

        </div>

    </div>

    </div>

</div>

<div class="container-fluid status-bar">
  <div class="row status-bar-container">
    <div class="col-md-8">STATUS Loggin Bar.</div>
    <div class="col-md-2">STATUS</div>
    <div class="col-md-2">OK</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" 
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="tabbable">

                    <ul class="nav nav-tabs" role="tablist">

                        <li class="nav-item active">
                            <a class="nav-link active" href="#AAA" data-toggle="tab">
                                AAA
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" href="#BBB" data-toggle="tab">
                                BBB
                            </a>
                        </li>

                        <li>
                            <a class="nav-link" href="#CCC" data-toggle="tab">
                                CCC
                            </a>
                        </li>

                    </ul>

                </div>       
            </div>
            HERE is content
        </div>
    </div>
</div>

<script>

$(document).ready(function(){
    // set the home dir
    $(".home-dir").text(HOME_DIR);

    // jstree evnets and instantiation
    $('#file-tree').bind('loaded.jstree', function(e, d) {
        // invoked after jstree has loaded
        // $(this).jstree("open_node", $(nodes[i]));
        //$('#file-tree').jstree()

        console.log("showing", data);
        showNode(data);

        $("#file-tree").jstree("select_node", "ul > li:first");
        var Selectednode = $("#file-tree").jstree("get_selected")
        $("#file-tree").jstree("open_node", Selectednode, false, true);

    }).bind("select_node.jstree", function (e, data) {

       console.log("node clicked", e, data);
       var n = data.node;

        // check if directory and query for this node contents
        if (n.original.type == "directory") {

            showNode(n);
            var parents = n.parents.splice(1, 1);

            path = ""
            parents.forEach(function(val, idx) {
                node = $('#file-tree').jstree().get_node(val);
                path += "/" + node.text;
            });

            path += "/" + n.text
        }
      // make directories open on single click
      if (n.original.type == "directory") {

        // if it is open, then close it
        if ($('#file-tree').jstree().is_open(n)){ $('#file-tree').jstree().close_node(n) }

        // if it is closed, then open it
        else { $('#file-tree').jstree().open_node(n);}

      }
    }).jstree({
        'core' : {
          'data' : data
        }
      });;


    function createItem(item) {

        // check if this is from jstree
        if (item.hasOwnProperty('original')) {
            item = item.original;
        }
        var template = $($("#itemTemplate").clone().html());

        // count the items to create an ID and set it
        var cur = $(".list-group-item").length
        template.attr("id",cur + 1);

        // set the session path and ardour version to use
        template.attr("onclick", "runSession(" + item.path + ", " + item.ardour + ");");

        // TODO the ardour version image
        template.find(".title").text(item.file);
        template.find(".dir").text(item.dir);
        template.find(".created").text(item.created);
        template.find(".modified").text(item.modified);
        //console.log("templating", item);

        if (item.exports.length > 0) {

            // display the exports for reproduction
            item.exports.forEach(function(val, ida){

                // validate file extensions
                if (val.includes(".mp3")) {
                    var mime = "";
                } else if (val.includes(".wav")) {
                    var mime = "";
                } else {
                    return;
                };

                var exportsTemplate = $($("#exports-template").clone().html());

                // set the audio values
                var uri = "/sessions" + item.dir + "/export/" + val;
                exportsTemplate.find("span").html(val);
                exportsTemplate.find("span").text(val);

                exportsTemplate.find("source").attr("src", uri);

                // append the export to the DOM
                exportsTemplate.appendTo(template.find(".exports-container"));
            });

        }
        template.appendTo($("#itemList"));
        //$('<div class="clearfix"></div>').appendTo("#itemList");
    }


   function showNode(data) {

        // clean the container
        $("#itemList").html("");
        console.log("cleaning container", data);

        var isNode = false;
        if (data.constructor !== Array) {
            // this is an object passed.

            // check if it is a js tree reference
            if (data.hasOwnProperty('parent')) {
                isNode = true;
            }
            data = [data];
        }
       // show the data passed
      data.forEach(function(node, idx) {
          // level 1 level content
          if (isNode) {
            console.log(isNode, node)
            node = $('#file-tree').jstree().get_node(node);
          }
         if (node.icon.includes("session-file")) {

            // validate session folders
            createItem(val);

         } else {
            // append this element's childrens to the view
            node.children.forEach(function(child, idy) {
                  if (isNode) {
                    child = $('#file-tree').jstree().get_node(child);
                  }
                 // validate session folders
                 if (child.icon.includes("session-file")) {
                    createItem(child);
                 } else {

                    // this might be a directory, again, with childrens
                    // level 3 children
                    child.children.forEach(function(childnode, idz) {
                          if (isNode) {
                            childnode = $('#file-tree').jstree().get_node(childnode);
                          }
                        if (childnode.icon.includes("session-file")) {
                            createItem(childnode);
                        } else {
                                childnode.children.forEach(function(grandchildren, idb) {

                          if (isNode) {
                            grandchildren = $('#file-tree').jstree().get_node(grandchildren);
                          }

                                    if (grandchildren.icon.includes("session-file")) {
                                        createItem(grandchildren);
                                    }
                                });
                           }
                    });

                 }
            });

         }
      });
   }

});
</script>

<template id="itemTemplate">
    <a class="list-group-item" href="javascript:void(0)" onclick="">
        <div class="row">

            <div class="col-md-8">
                <img src="{{url_for('static', filename='img/ardour.jpeg')}}" class="pull-left photo">
                <h4 class="list-group-item-heading title"></h4>
                <p class="list-group-item-heading dir"></p>
                <p class="list-group-item-text created"></p>
                <p class="list-group-item-text modified"></p>
             </div>

            <div class="col-md-4">
                <div class="exports exports-container">

                </div><!-- .exports -->
            </div><!-- .col-md-4 -->
        </div>
    </a>
</template>


<template id="exports-template">
    <div class="exports-template">
        <span></span>
        <br />

        <audio controls>
            <source src="" type="" />
                Your browser does not support the audio element.
        </audio>
        <br />

    </div>
</template>
{% endblock %}